workflows/1-linkedin-auto-post.json
{
  "name": "1 · LinkedIn — Publicação (BI + programação para dados)",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "schedule-1",
      "name": "Seg/Qua/Sex às 9h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1,3,5"
            }
          ]
        }
      }
    },
    {
      "id": "notion-get-1",
      "name": "Buscar posts no Notion",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        220,
        0
      ],
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "returnAll": true,
        "options": {}
      },
      "notesInFlow": true,
      "notes": "Selecione o banco 'Fila de Posts LinkedIn'"
    },
    {
      "id": "filter-1",
      "name": "Só posts com Status = Pronto",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        440,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.property_status }}",
              "rightValue": "Pronto",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "limit-1",
      "name": "Pegar 1 post",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        660,
        0
      ],
      "parameters": {
        "maxItems": 1
      }
    },
    {
      "id": "openai-1",
      "name": "Refinar post com IA",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        880,
        0
      ],
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Você é ghostwriter de LinkedIn para profissionais de BI e programação orientada a dados (início de carreira). Post em português brasileiro.\n\nSOBRE MIM:\n- João Vítor Clemente Ferreira · Magé/RJ\n- BI na SEPLAG Niterói (Power BI, SQL, Excel) + cursando ADS/Engenharia de Software com foco em programação para dados\n- Objetivo: autoridade prática em dados — BI + scripts/SQL/Python para análise — sem se vender como fullstack\n\nTEMAS:\n- Dashboard/indicador real (sem dados sensíveis)\n- SQL que salvou (ou complicou) um relatório\n- Excel → Power BI\n- O que é programação orientada a dados na prática (vs. programar app)\n- Primeiros passos de lógica/Python aplicados a planilha ou consulta\n\nREGRAS:\n- Gancho forte na 1ª linha\n- Parágrafos curtos, máx. 1.300 caracteres\n- CTA/pergunta no final\n- Hashtags: #PowerBI #SQL #AnaliseDeDados #Python #Dados\n- Responda SOMENTE com o texto do post"
            },
            {
              "role": "user",
              "content": "=Tema: {{ $json.name }}\n\nRascunho:\n{{ $json.property_rascunho }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "linkedin-1",
      "name": "Publicar no LinkedIn",
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        1100,
        0
      ],
      "parameters": {
        "postAs": "person",
        "person": "",
        "text": "={{ $json.message.content }}",
        "shareMediaCategory": "NONE",
        "additionalFields": {}
      },
      "notesInFlow": true,
      "notes": "Selecione sua credencial e sua Person. Requer n8n >= 2.18.0"
    },
    {
      "id": "notion-update-1",
      "name": "Marcar como Publicado",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1320,
        0
      ],
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Pegar 1 post').item.json.id }}"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|select",
              "selectValue": "Publicado"
            },
            {
              "key": "Publicado em|date",
              "range": false,
              "includeTime": true,
              "date": "={{ $now.toISO() }}"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Seg/Qua/Sex às 9h": {
      "main": [
        [
          {
            "node": "Buscar posts no Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar posts no Notion": {
      "main": [
        [
          {
            "node": "Só posts com Status = Pronto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Só posts com Status = Pronto": {
      "main": [
        [
          {
            "node": "Pegar 1 post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pegar 1 post": {
      "main": [
        [
          {
            "node": "Refinar post com IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refinar post com IA": {
      "main": [
        [
          {
            "node": "Publicar no LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publicar no LinkedIn": {
      "main": [
        [
          {
            "node": "Marcar como Publicado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}
