workflows/2-linkedin-job-radar.json
{
  "name": "2 · LinkedIn — Radar de vagas com IA",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "schedule-2",
      "name": "Todo dia às 8h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "areas-1",
      "name": "Definir buscas (3 áreas)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, 0],
      "parameters": {
        "jsCode": "// Uma busca por área — edite as palavras-chave à vontade.\n// Cada item vira uma chamada separada à Apify.\nreturn [\n  {\n    json: {\n      area: 'RH',\n      keywords: '\"recursos humanos\" OR recrutamento OR \"departamento pessoal\" OR \"analista de rh\" OR \"assistente de rh\"'\n    }\n  },\n  {\n    json: {\n      area: 'Química',\n      keywords: 'químico OR química OR laboratório OR \"técnico químico\"'\n    }\n  },\n  {\n    json: {\n      area: 'Caldeiraria/Offshore/IRATA',\n      keywords: 'caldeireiro OR caldeiraria OR offshore OR embarcado OR plataforma OR IRATA OR \"acesso por corda\" OR \"alpinismo industrial\" OR \"trabalho em altura\"'\n    }\n  },\n  {\n    json: {\n      area: 'Programação/TI',\n      keywords: 'desenvolvedor OR programador OR \"suporte técnico\" OR \"analista de dados\" OR automação'\n    }\n  }\n];"
      }
    },
    {
      "id": "apify-1",
      "name": "Buscar vagas (Apify)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [400, 0],
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/k1ra~linkedin-jobs-scraper/run-sync-get-dataset-items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ keywords: $json.keywords, location: \"Brazil\", postedWithin: \"24h\", excludeRecruiters: false, maxResults: 50, includeDescription: true }) }}",
        "options": {
          "timeout": 300000
        }
      },
      "notesInFlow": true,
      "notes": "Roda 1x por área definida no node anterior. Credencial Header Auth: Authorization = Bearer SEU_TOKEN_APIFY"
    },
    {
      "id": "dedupe-1",
      "name": "Remover vagas já vistas",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [600, 0],
      "parameters": {
        "operation": "removeItemsSeenInPreviousExecutions",
        "logic": "removeItemsWithAlreadySeenKeyValues",
        "dedupeValue": "={{ $json.jobUrl }}",
        "options": {
          "historySize": 5000
        }
      }
    },
    {
      "id": "filter-2",
      "name": "Filtrar por título",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [660, 0],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "or",
          "conditions": [
            {
              "id": "t1",
              "leftValue": "={{ $json.title }}",
              "rightValue": "rh",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "t2",
              "leftValue": "={{ $json.title }}",
              "rightValue": "recursos humanos",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "t3",
              "leftValue": "={{ $json.title }}",
              "rightValue": "recrutamento",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "t4",
              "leftValue": "={{ $json.title }}",
              "rightValue": "pessoal",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "t5",
              "leftValue": "={{ $json.title }}",
              "rightValue": "quím",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "t6",
              "leftValue": "={{ $json.title }}",
              "rightValue": "quim",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "t7",
              "leftValue": "={{ $json.title }}",
              "rightValue": "laborat",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "t8",
              "leftValue": "={{ $json.title }}",
              "rightValue": "offshore",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "t9",
              "leftValue": "={{ $json.title }}",
              "rightValue": "embarcado",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "t10",
              "leftValue": "={{ $json.title }}",
              "rightValue": "plataforma",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "t11",
              "leftValue": "={{ $json.title }}",
              "rightValue": "atendimento",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "t12",
              "leftValue": "={{ $json.title }}",
              "rightValue": "administrativo",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "t13",
              "leftValue": "={{ $json.title }}",
              "rightValue": "desenvolv",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "t14",
              "leftValue": "={{ $json.title }}",
              "rightValue": "program",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "t15",
              "leftValue": "={{ $json.title }}",
              "rightValue": "suporte",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "t16",
              "leftValue": "={{ $json.title }}",
              "rightValue": "dados",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "t17",
              "leftValue": "={{ $json.title }}",
              "rightValue": "automação",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "t18",
              "leftValue": "={{ $json.title }}",
              "rightValue": "irata",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "t19",
              "leftValue": "={{ $json.title }}",
              "rightValue": "altura",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "t20",
              "leftValue": "={{ $json.title }}",
              "rightValue": "corda",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "t21",
              "leftValue": "={{ $json.title }}",
              "rightValue": "alpinis",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "t22",
              "leftValue": "={{ $json.title }}",
              "rightValue": "caldeir",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ]
        }
      },
      "notesInFlow": true,
      "notes": "Troque pelas palavras-chave da sua área"
    },
    {
      "id": "openai-2",
      "name": "Pontuar com IA",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [880, 0],
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "jsonOutput": true,
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Você é um recrutador experiente. Avalie o fit entre o candidato e a vaga.\n\nPERFIL DO CANDIDATO (revise e complete os campos entre colchetes):\n- Profissão principal: CALDEIREIRO [completar: tempo de experiência, tipos de obra — naval, industrial, parada de manutenção]\n- Trabalho em altura / acesso por corda: IRATA [completar nível e validade] — combo caldeireiro + corda é diferencial\n- Técnico em Química, com 4 meses de experiência prática na área\n- Curso de segurança para trabalho embarcado/offshore concluído (ex.: CBSP) — disponível para embarcar\n- Formação superior: Gestão de Recursos Humanos e Economia (sem experiência formal em RH ainda)\n- Programação e automação autodidata: montou automações com n8n, integrações de API e IA [ajuste conforme seu nível real]\n- Objetivo, em ordem de prioridade: (1) Caldeiraria / offshore / acesso por corda — ONDE JÁ TEM OFÍCIO, (2) Química / laboratório, (3) RH / recrutamento / departamento pessoal, (4) TI de entrada (suporte, automação, dados)\n- Aceita: remoto, híbrido, presencial ou embarcado; CLT, PJ ou temporário; disponibilidade imediata; para RH/TI aceita vagas júnior, auxiliar, assistente, trainee ou estágio\n- Também considera vagas de entrada em atendimento/administrativo remoto como renda imediata\n- Idiomas: português nativo; inglês básico (NÃO fluente)\n- Localização: [completar cidade/UF]\n\nCRITÉRIOS DE SCORE:\n- Vagas de CALDEIREIRO (naval, industrial, offshore, parada de manutenção) compatíveis com a experiência: score 8-10 — é a profissão dele\n- Vagas de acesso por corda/trabalho em altura compatíveis com a certificação declarada: score alto; caldeireiro + corda: score máximo\n- Vagas offshore/embarcadas que aceitem os certificados: score alto\n- Vagas de ENTRADA (júnior, auxiliar, assistente, trainee, estágio) em Química, RH e TI: score alto se os requisitos forem compatíveis\n- Vagas que combinem áreas (ex.: RH em empresa de óleo e gás, laboratório offshore): score máximo\n- Vagas que exijam inglês fluente/avançado: score baixo (0-4), pois o candidato tem inglês básico\n- Vagas de TI que exijam stack específica avançada ou 3+ anos de experiência comprovada: score baixo (0-4)\n- Vagas administrativas/atendimento remotas de entrada: score médio (5-7) — servem como renda imediata\n\nResponda SOMENTE com JSON válido neste formato:\n{\n  \"score\": <número de 0 a 10>,\n  \"justificativa\": \"<2 a 3 frases explicando o score>\",\n  \"pontos_de_atencao\": \"<requisitos que o candidato não atende, ou 'nenhum'>\"\n}"
            },
            {
              "role": "user",
              "content": "=Vaga: {{ $json.title }}\nEmpresa: {{ $json.company }}\nLocal: {{ $json.location }}\nTipo: {{ $json.employmentType }} · {{ $json.seniorityLevel }}\nSalário: {{ $json.salaryText || 'não informado' }}\n\nDescrição:\n{{ ($json.description || '').slice(0, 6000) }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "merge-fields-1",
      "name": "Juntar vaga + análise",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1100, 0],
      "parameters": {
        "mode": "manual",
        "includeOtherFields": false,
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "titulo",
              "type": "string",
              "value": "={{ $('Filtrar por título').item.json.title }}"
            },
            {
              "id": "a2",
              "name": "empresa",
              "type": "string",
              "value": "={{ $('Filtrar por título').item.json.company }}"
            },
            {
              "id": "a3",
              "name": "local",
              "type": "string",
              "value": "={{ $('Filtrar por título').item.json.location }}"
            },
            {
              "id": "a4",
              "name": "link",
              "type": "string",
              "value": "={{ $('Filtrar por título').item.json.jobUrl }}"
            },
            {
              "id": "a5",
              "name": "score",
              "type": "number",
              "value": "={{ $json.message.content.score }}"
            },
            {
              "id": "a6",
              "name": "justificativa",
              "type": "string",
              "value": "={{ $json.message.content.justificativa }}"
            },
            {
              "id": "a7",
              "name": "pontos_de_atencao",
              "type": "string",
              "value": "={{ $json.message.content.pontos_de_atencao }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "if-score-1",
      "name": "Score ≥ 7?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1320, 0],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "s1",
              "leftValue": "={{ $json.score }}",
              "rightValue": 7,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ]
        }
      }
    },
    {
      "id": "notion-create-2",
      "name": "Salvar no Radar de Vagas",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [1540, -100],
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "title": "={{ $json.titulo }} — {{ $json.empresa }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Empresa|rich_text",
              "textContent": "={{ $json.empresa }}"
            },
            {
              "key": "Localização|rich_text",
              "textContent": "={{ $json.local }}"
            },
            {
              "key": "Link|url",
              "urlValue": "={{ $json.link }}"
            },
            {
              "key": "Score|number",
              "numberValue": "={{ $json.score }}"
            },
            {
              "key": "Análise|rich_text",
              "textContent": "={{ $json.justificativa }}\n\nPontos de atenção: {{ $json.pontos_de_atencao }}"
            },
            {
              "key": "Status|select",
              "selectValue": "Novo"
            }
          ]
        },
        "options": {}
      },
      "notesInFlow": true,
      "notes": "Selecione o banco 'Radar de Vagas'"
    },
    {
      "id": "noop-1",
      "name": "Descartada (score baixo)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1540, 100],
      "parameters": {}
    }
  ],
  "connections": {
    "Todo dia às 8h": {
      "main": [
        [
          {
            "node": "Definir buscas (3 áreas)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Definir buscas (3 áreas)": {
      "main": [
        [
          {
            "node": "Buscar vagas (Apify)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar vagas (Apify)": {
      "main": [
        [
          {
            "node": "Remover vagas já vistas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remover vagas já vistas": {
      "main": [
        [
          {
            "node": "Filtrar por título",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar por título": {
      "main": [
        [
          {
            "node": "Pontuar com IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pontuar com IA": {
      "main": [
        [
          {
            "node": "Juntar vaga + análise",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Juntar vaga + análise": {
      "main": [
        [
          {
            "node": "Score ≥ 7?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score ≥ 7?": {
      "main": [
        [
          {
            "node": "Salvar no Radar de Vagas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Descartada (score baixo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}
