workflows/3-linkedin-application-assistant.json
{
  "name": "3 · LinkedIn — Assistente de aplicação",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "schedule-3",
      "name": "A cada 2 horas",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      }
    },
    {
      "id": "notion-get-3",
      "name": "Buscar vagas no Radar",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [220, 0],
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "returnAll": true,
        "options": {}
      },
      "notesInFlow": true,
      "notes": "Selecione o banco 'Radar de Vagas'"
    },
    {
      "id": "filter-3",
      "name": "Só Status = Aplicar",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [440, 0],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.property_status }}",
              "rightValue": "Aplicar",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "openai-3",
      "name": "Gerar carta de apresentação",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [660, 0],
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Você escreve cartas de apresentação curtas e específicas para vagas de ENTRADA. O candidato está em formação em várias frentes — a carta deve ser honesta, confiante e partir da formação mais relevante para a vaga, sem inventar experiência ou certificação.\n\nSOBRE MIM:\n- Nome: João Vítor Clemente Ferreira\n- Caldeireiro: em formação (cursando)\n- Acesso por corda: IRATA Nível 1 em processo de certificação\n- Técnico em Química com 4 meses de experiência prática\n- Curso de segurança para trabalho embarcado/offshore concluído — disponível para embarcar\n- Formado em Gestão de Recursos Humanos e Economia\n- Programação/automação: curso Fostec (Firjan/Cerratec · Senai); construindo automações com n8n, APIs e IA\n- Disponibilidade imediata — remoto, presencial ou embarcado\n- Contato: (21) 97726-9184 · Rio de Janeiro/RJ\n\nESTRATÉGIA POR ÁREA:\n- Vaga de caldeiraria (auxiliar/ajudante/trainee): destacar o curso em andamento + certificado de embarque + disponibilidade total — perfil de quem está se preparando agora\n- Vaga IRATA/altura: mencionar que está no processo do Nível 1 (NÃO afirmar que já é certificado) + curso de caldeireiro + segurança embarcada\n- Vaga offshore/embarcada: destacar certificado de segurança em dia + formação em Química + cursos de caldeiraria/IRATA em andamento + disponibilidade para escala\n- Vaga de Química/laboratório: destacar a formação técnica e os 4 meses de prática\n- Vaga de RH: destacar Gestão de RH + Economia; interesse em RH industrial/operacional\n- Vaga de TI/suporte/automação: destacar o curso Fostec (Firjan/Cerratec · Senai) e as automações reais com n8n/APIs/IA — projeto vale mais que diploma\n\nOBS: inglês básico — nunca afirmar fluência; se a vaga pedir inglês, mencionar que está desenvolvendo\n\nREGRAS:\n- Máximo 150 palavras, 3 parágrafos\n- Mencione a empresa e a vaga pelo nome; conecte a formação mais relevante a 1 requisito da vaga\n- Tom confiante e direto; sem clichês ('sou apaixonado', 'trabalho em equipe') e sem pedir desculpa pela falta de experiência\n- Escreva no idioma da vaga (título em inglês = carta em inglês)\n- Responda SOMENTE com o texto da carta"
            },
            {
              "role": "user",
              "content": "=Vaga: {{ $json.name }}\nEmpresa: {{ $json.property_empresa }}\nLocal: {{ $json.property_localiza_o }}\n\nAnálise de fit feita anteriormente:\n{{ $json.property_an_lise }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "notion-update-3",
      "name": "Salvar carta e marcar Aplicado",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [880, 0],
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Só Status = Aplicar').item.json.id }}"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Carta|rich_text",
              "textContent": "={{ $json.message.content }}"
            },
            {
              "key": "Status|select",
              "selectValue": "Aplicado"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "todoist-1",
      "name": "Criar tarefa no Todoist",
      "type": "n8n-nodes-base.todoist",
      "typeVersion": 2.1,
      "position": [1100, 0],
      "parameters": {
        "resource": "task",
        "operation": "create",
        "project": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "content": "=Aplicar: {{ $('Só Status = Aplicar').item.json.name }}",
        "options": {
          "description": "=Vaga: {{ $('Só Status = Aplicar').item.json.property_link }}\n\nScore: {{ $('Só Status = Aplicar').item.json.property_score }}/10\n\nAnálise:\n{{ $('Só Status = Aplicar').item.json.property_an_lise }}\n\n--- CARTA (copiar e colar) ---\n{{ $('Gerar carta de apresentação').item.json.message.content }}",
          "dueString": "today",
          "priority": 3
        }
      },
      "notesInFlow": true,
      "notes": "Selecione o projeto 'Vagas'"
    }
  ],
  "connections": {
    "A cada 2 horas": {
      "main": [
        [
          {
            "node": "Buscar vagas no Radar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar vagas no Radar": {
      "main": [
        [
          {
            "node": "Só Status = Aplicar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Só Status = Aplicar": {
      "main": [
        [
          {
            "node": "Gerar carta de apresentação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar carta de apresentação": {
      "main": [
        [
          {
            "node": "Salvar carta e marcar Aplicado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar carta e marcar Aplicado": {
      "main": [
        [
          {
            "node": "Criar tarefa no Todoist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}
