workflows/3-linkedin-application-assistant.json
{
  "name": "3 · LinkedIn — Assistente de aplicação",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "schedule-3",
      "name": "A cada 2 horas",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      }
    },
    {
      "id": "notion-get-3",
      "name": "Buscar vagas no Radar",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [220, 0],
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "returnAll": true,
        "options": {}
      },
      "notesInFlow": true,
      "notes": "Selecione o banco 'Radar de Vagas'"
    },
    {
      "id": "filter-3",
      "name": "Só Status = Aplicar",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [440, 0],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.property_status }}",
              "rightValue": "Aplicar",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "openai-3",
      "name": "Gerar carta de apresentação",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [660, 0],
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Você escreve cartas de apresentação curtas e específicas. O candidato tem um ofício consolidado (caldeireiro) e está expandindo para outras frentes — a carta deve sempre partir da força mais relevante para a vaga.\n\nSOBRE MIM (revise e complete os campos entre colchetes):\n- Nome: __NOME__\n- Caldeireiro — __CALDEIRARIA__\n- Acesso por corda / trabalho em altura: IRATA __IRATA__\n- Técnico em Química com 4 meses de experiência prática\n- Curso de segurança para trabalho embarcado/offshore concluído — disponível para embarcar imediatamente\n- Formado em Gestão de Recursos Humanos e Economia\n- Constrói automações com n8n, APIs e IA (autodidata)\n- Disponibilidade imediata, flexível para remoto, presencial ou embarcado\n- Contato: __CONTATO__\n\nESTRATÉGIA POR ÁREA:\n- Vaga de caldeireiro / caldeiraria: liderar com a experiência prática no ofício (__CALDEIRARIA__) + IRATA + certificado de embarque — perfil completo para offshore e parada de manutenção\n- Vaga de acesso por corda / trabalho em altura: destacar IRATA __IRATA__ + o ofício de caldeireiro (corda com ofício vale mais que corda sozinha) + disciplina de segurança\n- Vaga offshore/embarcada: destacar o combo caldeireiro + IRATA + certificado de segurança em dia + disponibilidade total para escala de embarque\n- Vaga de Química/laboratório: destacar a formação técnica em Química e os 4 meses de prática; a experiência industrial de caldeiraria mostra vivência de campo\n- Vaga de RH: destacar a formação em Gestão de RH + Economia; diferencial raro: conhece o chão de fábrica por dentro (caldeireiro), entende o trabalhador que vai recrutar\n- Vaga de TI/suporte/automação: destacar que aprende por conta própria e já constrói automações reais (n8n, integrações de API, IA) — mostrar projeto vale mais que diploma nessa área\n\nOBS: inglês básico — nunca afirmar fluência; se a vaga pedir inglês, mencionar que está desenvolvendo\n\nREGRAS:\n- Máximo 150 palavras, 3 parágrafos\n- Mencione a empresa e a vaga pelo nome; conecte a formação mais relevante a 1 requisito da vaga\n- Tom confiante e direto; sem clichês ('sou apaixonado', 'trabalho em equipe') e sem pedir desculpa pela falta de experiência\n- Escreva no idioma da vaga (título em inglês = carta em inglês)\n- Responda SOMENTE com o texto da carta"
            },
            {
              "role": "user",
              "content": "=Vaga: {{ $json.name }}\nEmpresa: {{ $json.property_empresa }}\nLocal: {{ $json.property_localiza_o }}\n\nAnálise de fit feita anteriormente:\n{{ $json.property_an_lise }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "notion-update-3",
      "name": "Salvar carta e marcar Aplicado",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [880, 0],
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Só Status = Aplicar').item.json.id }}"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Carta|rich_text",
              "textContent": "={{ $json.message.content }}"
            },
            {
              "key": "Status|select",
              "selectValue": "Aplicado"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "todoist-1",
      "name": "Criar tarefa no Todoist",
      "type": "n8n-nodes-base.todoist",
      "typeVersion": 2.1,
      "position": [1100, 0],
      "parameters": {
        "resource": "task",
        "operation": "create",
        "project": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "content": "=Aplicar: {{ $('Só Status = Aplicar').item.json.name }}",
        "options": {
          "description": "=Vaga: {{ $('Só Status = Aplicar').item.json.property_link }}\n\nScore: {{ $('Só Status = Aplicar').item.json.property_score }}/10\n\nAnálise:\n{{ $('Só Status = Aplicar').item.json.property_an_lise }}\n\n--- CARTA (copiar e colar) ---\n{{ $('Gerar carta de apresentação').item.json.message.content }}",
          "dueString": "today",
          "priority": 3
        }
      },
      "notesInFlow": true,
      "notes": "Selecione o projeto 'Vagas'"
    }
  ],
  "connections": {
    "A cada 2 horas": {
      "main": [
        [
          {
            "node": "Buscar vagas no Radar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar vagas no Radar": {
      "main": [
        [
          {
            "node": "Só Status = Aplicar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Só Status = Aplicar": {
      "main": [
        [
          {
            "node": "Gerar carta de apresentação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar carta de apresentação": {
      "main": [
        [
          {
            "node": "Salvar carta e marcar Aplicado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar carta e marcar Aplicado": {
      "main": [
        [
          {
            "node": "Criar tarefa no Todoist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}
